.table
     width: 100%
     margin-bottom: 1rem
     color: #212529
     text-align: left
     .form-control
          +my(0)
     tr
          border-bottom: 1px solid rgba(0,0,0,0.12)
     thead
          td,th
               border-bottom-width: 2px
          th
               background-color: $light-grey
               vertical-align: bottom
     td,th
          border-top: 1px solid $grey
          border-bottom: 1px solid $grey
          padding: .75rem
th
     text-align: center
     vertical-align: middle
