.hero
     position: relative
     min-height: 200px
.header
     padding-top: 90px
     padding-bottom: 30px
     +respond-to(small)
          padding-top: 150px
          padding-bottom: 100px
.community
     background-image: url(../assets/community.jpg)
     background-position: center center
     background-repeat: no-repeat
     background-size: cover
.customer-center
     background-image: url(../assets/phone.jpg)
     background-position: center center
     background-repeat: no-repeat
     background-size: cover
     padding-top: 330px !important
     +respond-to(medium)
          padding-top: 240px !important
.notice
     +px(20px)
     +py(10px)
     +respond-to(medium)
          +px(40px)
          +py(30px)
.bg-estimate
     background-image: url(../assets/estimate-bg.jpg)
     +bg-center
.bg-about
     background-image: url(../assets/bg-about.jpg)
     +bg-center
footer
     background: $brown
     color: white
     .col-sm-3
          background-color: lighten($brown,10%)
          +py(10px)
     .col-sm-9
          background: $brown
          +py(20px)
          @media (max-width:767px)
               .flex
                    justify-content: center
     .row
          flex-direction: column-reverse
          div
               text-align: center
          .col-sm-9
               +respond-to(small)
                    text-align: left
          +respond-to(x-small)
               flex-direction: row
               .col-sm-3,.col-sm-9
                    +py(40px)
                    background: $brown
.notice-title
     +text-ellipsis
.board-detail-title
     border-bottom: 1px solid $grey
     border-top: 3px solid darken($grey, 20%)
.quotation
     text-align: center
     &::before,&::after
          font-size: 50px
          line-height: 0
          color: $grey
     &::before
          content: "\275D"
          margin-right: .5rem
     &::after
          content: "\275E"
          margin-left: .5rem
